<div class="links_wrapper">
        <label for="uploadImage">
            <a
                href="#"
            >
                Upload Image
            </a>
        </label>
        <a
            href="#"
        >
            Add Text
        </a>
        <a
            href="#"
        >
            Add New Slide
        </a>
        <a
            href="#"
        >
            Save Deck
        </a>
        <a
            href="#"
        >
            Load Deck
        </a>
        <input
            id="uploadImage"
            type="file"
            style="display: none;"
        />
    </div>
</div>